!!!
html
  head
    title= 'Brainzzzz'
    link( rel='stylesheet', href='/stylesheets/style.css' )
    script( src="http://code.jquery.com/jquery.min.js", type="application/javascript" )
    script( src="/javascripts/tablesorter.min.js", type="application/javascript" )
    script( src="/javascripts/mcchunkie.js", type="application/javascript" )
  body!= body
